<!-- 공지사항 및 자료실 시작 -->
<div class="board">
    <section id="notice">
        <h1><a href="#notice">공지사항</a></h1>
        <ul>
            <li>
                <a href="#">HTML 모든 것을 알려주마 샘플 활용법</a>
                <time datetime="2013-10-04">2013.10.04</time>
            </li>
            <li>
                <a href="#">W3C 사이트 리뉴얼 소식 및 공지사항</a>
                <time datetime="2013-10-04">2013.10.04</time>
            </li>
            <li>
                <a href="#">KWCAG2.0 소식</a>
                <time datetime="2013-10-04">2013.10.04</time>
            </li>
            <li>
                <a href="#">서버 점검으로 인한 사이트 이용안내입니다.</a>
                <time datetime="2013-10-04">2013.10.04</time>
            </li>
            <li>
                <a href="#">여러분들이 생각하는 웹 접근성에 대해 이야기를 나누어봅시다.</a>
                <time datetime="2013-10-04">2013.10.04</time>
            </li>
        </ul>
        <a href="#" class="more" title="공지사항 더보기">더보기</a>
    </section>
    <section id=" pds">
        <h1><a href="#pds">자료실</a></h1>
        <ul>
            <li>
                <a href="#">디자인 사이트 링크 모음</a>
                <time datetime="2013-10-04">2013.10.04</time>
            </li>
            <li>
                <a href="#">웹 접근성 관련 자료 모음</a>
                <time datetime="2013-10-04">2013.10.04</time>
            </li>
            <li>
                <a href="#">예제 샘플 응용해 보기</a>
                <time datetime="2013-10-04">2013.10.04</time>
            </li>
            <li>
                <a href="#">웹 접근성 향상을 위한 국가표준 기술 가이드 라인</a>
                <time datetime="2013-10-04">2013.10.04</time>
            </li>
            <li>
                <a href="#">로얄티 프리 이미지 자료</a>
                <time datetime="2013-10-04">2013.10.04</time>
            </li>
        </ul>
        <a href="#" class="more" title="자료실 더보기">더보기</a>
    </section>
</div>
<!-- //공지사항 및 자료실 종료 -->