<!-- 신규이벤트 시작 -->
<section class="event">
	<h1>신규 <span>이벤트</span></h1>
	<div id="eventDetail">
		<a href="#">
			<img src="images/free_gift.gif" alt="이벤트 경품 : 웹표준 핵심 가이드북 II" width="163" height="77">
			<p><em>웹표준 핵심 가이드북 II 출시</em> 선착순 500명 한정!</p>
		</a>
	</div>
	<div class="btnEventArea">
		<a href="#" class="btnEventPrev">이전 이벤트 보기</a>
		<a href="#" class="btnEventNext">다음 이벤트 보기</a>
	</div>
</section>
<!-- //신규이벤트 종료 -->