<!DOCTYPE html>
<html lang="ko">
<head>
	<meta charset="utf-8">
	<meta name="author" content="Teresa,BMH">
	<meta name="keywords" content="HTML5 소개,HTML5 콘텐츠 모델,HTML5의 목적">
	<meta name="description" content="HTML5는 웹 표준 기구인 W3C에서 만들고 있는 차세대 웹표준안으로 기존 HTML4.01 또는 XHTML1.0과 다른 콘텐츠 모델이라는 개념이 추가되었습니다. 그리고 HTML5는 HTML, CSS, DOM, JavaScript를 기반으로 새로운 것을 만들 것 등 여러가지 목적을 가지고 있습니다.">
	<meta name="robots" content="all">
	<title>HTML5 소개 | WebCafe</title>
	<link rel="shortcut icon" href="images/common/webcafe.ico">
	<link rel="apple-touch-icon" href="images/common/webcafe.png">
	<link rel="stylesheet" href="css/common.css" >
	<link rel="stylesheet" href="css/sub.css">
	<script src="js/jQuery.js"></script>
	<script src="js/webcafe.js"></script>
</head>
<body>
<!-- 건너뛰기 링크 시작 -->
<a id="skipNav" href="#contentsArea">본문 바로가기</a>
<!-- //건너뛰기 링크 종료 -->
<!-- #warpper 시작 -->
<div id="wrapper">
	<!-- #header 시작 -->
	<header id="header" role="banner">
		<% include common/header.ejs%>
	</header>
	<!-- //#header 종료 -->
	<!-- #visual 시작 -->
	<div id="visual">
		<% include common/visual.ejs%>
	</div>
	<!-- //#visual 종료 -->
	<!-- #contentsArea 시작 -->
	<div id="contentsArea">
		<!-- HTML5 소개 시작 -->
		<section id="contents" class="html5Intro">
			<!-- 현재위치 시작 -->
			<p class="location">
				Home &gt; HTML에 대해 &gt; <strong>HTML5 소개</strong>
			</p>
			<!-- //현재위치 종료 -->
			<h1>HTML5 소개</h1>
			<h2>HTML5란?</h2>
			<p>
				HTML5는 웹 표준 기구인 W3C에서 만들고 있는 차세대 웹표준안으로 마이크로소프트, 모질라, 애플, 구글, 오페라 등 모든 웹 브라우저 벤더가 참여하고 있는 산업 표준이다.
			</p>
			<p>
				2004년 웹 브라우저 벤터와 개발자 커뮤니티가 주축이 된 웹 하이퍼텍스트 애플리케이션 워킹그룹(WHATWG)의 초안으로부터 시작된 이 표준안은 웹 브라우저 호환성, 구조적이고 의미적 마크업 및 편리한 웹폼 기능을 제공하여 웹 개발자들의 생산성을 높임과 동시에 리치 웹 애플리케이션을 개발 할 수 있는 다양한 자바스크립트 API를 포함하고 있다.
			</p>
			<p>
				2007년부터 W3C의 HTML W/G에서 HTML5 표준안으로 개발되고 있는 동시에 최신 버전의 웹 브라우저에서 빠르게 탑재되고 있어 차세대 웹 서비스 개발의 주요 기술로서 각광 받을 전망이다.
			</p>
			<h2>HTML5 콘텐츠 모델</h2>
			<!-- 비디오 플레이어 시작 -->
			<div id="videoPlayer">
				<video preload poster="images/seulbinim.jpg">
					<source type="video/mp4" src="http://www.webcafe2010.com/html5/video/contents_model.mp4">
					<source type="video/ogg" src="http://www.webcafe2010.com/html5/video/contents_model.ogv">
					<div class="noVideoPlayer">
						<a href="http://www.webcafe2010.com/html5/video/contents_model.mp4">동영상 다운 받기</a>
					</div>
				</video>
				<div class="videoCaption" tabindex="0">
					<p>
						기존 HTML4 기반의 마크업에서 요소는 일반적으로 인라인 요소(Inline Element)와 블록 요소(Block Level Element)로 구분 하는 정도의 개념만 존재하였으나 HTML5에서는 좀 더 명확한 정보 구조 설계 및 구성을 위해 기존의 인라인 및 블록의 개념이 아닌 요소별 카테고리를 정의하여 각 요소별로 비슷한 성격을 가지고 있는 것끼리 그룹화하였습니다.
					</p>
					<p>
						HTML5의 카테고리(Category)에는 Metadata 콘텐츠, Flow 콘텐츠, Sectioning 콘텐츠, Heading 콘텐츠, Phrasing 콘텐츠, Embedded 콘텐츠, Interactive 콘텐츠 등의 그룹이 있으며 하나의 요소가 여러 그룹에 속해 있을 수도 있고 그렇지 않을 수도 있습니다.
					</p>
					<p>
						특히 HTML5에 추가된 새로운 개념인 콘텐츠 모델이란 어떤 요소에 어떤 콘텐츠를 포함해야 하는지 또 어떤 요소가 어떤 요소를 포함 할 수 있는지를 정의한 것을 말합니다. 또한 콘텐츠 모델이라는 개념을 통해 자식 요소로 포함할 수 있는 카테고리에 제한을 두었으며, 역으로 자식 요소가 작성될 수 있는 카테고리에 제한을 두었습니다. 이는 HTML5가 구조가 아닌 구성에 중점을 두기 때문입니다.
					</p>
				</div>
				<div class="videoController">
					<button type="button" class="btnPlay">play</button>
					<button type="button" class="btnStop">stop</button>
					<input type="range" hidden min="0" max="100" value="0" step="1" class="playTimeSlider">
					<span class="playTime">00:00:00</span>
					<button type="button" class="btnVolumeOn">on</button>
				</div>
			</div>
			<!-- //비디오 플레이어 종료 -->
			<h2>HTML5의 목적</h2>
			<p>
				HTML5는 다음과 같은 몇가지 목적을 가지고 있습니다.
			</p>
			<ul>
				<li>HTML, CSS, DOM, JavaScript를 기반으로 새로운 것을 만들 것</li>
				<li>플래시 등과 같이 외부 플러그인에 의존하지 않도록 할 것</li>
				<li>Javascript를 사용하지 않고 Markup만으로 많은 일을 가능하도록 할 것</li>
				<li>다양한 디바이스로 부터 독립적이어야 할 것</li>
				<li>에러 핸들링이 더 좋아지도록 할 것</li>
				<li>개발과정을 모두에게 공개할 것</li>
			</ul>
			<script>
				ini_player();
			</script>
		</section>
		<!-- //HTML5 소개 종료 -->
		<!-- twitter 시작 -->
		<% include common/twitter.ejs %>
		<!-- //twitter 종료 -->
	</div>
	<!-- //#contentsArea 종료 -->
	<!-- #slogan 시작 -->
	<% include common/slogan.ejs %>
	<!-- //#slogan 종료 -->
	<!-- #footer 시작 -->
	<% include common/footer.ejs %>
	<!-- //#footer 종료 -->
</div>
<!-- //#warpper 종료 -->
</body>
</html>
