<!-- 로그인 시작 -->
<section class="login">
	<h1>로그인</h1>
	<form action="/login" method="post" id="loginForm" name="loginForm">
		<fieldset>
			<legend>회원 로그인 폼</legend>
			<p>
				<label for="userId">아이디</label>
				<input id="userId" type="text" name="userId" required pleaseholder="Guest">
			</p>
			<p>
				<label for="userPw">비밀번호</label>
				<input class="userPw" type="password" name="userPw" required placeholder="4자이상 8자이하">
			</p>
			<p>
				<button type="submit">로그인</button>
			</p>
		</fieldset>
	</form>
	<div class="memberLink">
		<a href="#" class="join">회원가입</a>
		<a href="#" class="find">아이디/비밀번호 찾기</a>
	</div>
</section>
<!-- //로그인 종료 -->