<!-- #contentArea 시작 -->
<div id="contentsArea">
    <!-- 로그인 및 배너 용어 설명 관련 콘텐츠 칼럼 시작 -->
    <div id="usefulArea">

    </div>
    <!-- //로그인 및 배너 용어 설명 관련 콘텐츠 칼럼 종료 -->
    <!-- 검색 폼, 공지사항 자료실 게시판 및 새소식 콘텐츠 칼럼 시작 -->
    <div id="infoArea">

    </div>
    <!-- //검색 폼, 공지사항 자료실 게시판 및 새소식 콘텐츠 칼럼 종료 -->
    <!-- 신규 이벤트, 관련 사이트, 인기 사이트 콘텐츠 칼럼 시작 -->
    <div id="linkArea">

    </div>
    <!-- //신규 이벤트, 관련 사이트, 인기 사이트 콘텐츠 칼럼 종료 -->
</div>
<!-- //#contentArea 종료 -->