<!-- 관련사이트 시작 -->
<section class="relatedLink">
    <h1>관련 <span>사이트</span></h1>
    <ul>
        <li><a href="http://www.jeumedia.com">제우미디어</a></li>
        <li><a href="http://www.w3.org">W3C</a></li>
        <li><a href="http://www.csszengarden.com">CSS ZEN GARDEN</a></li>
        <li><a href="http://www.webstandards.org">WEB STANDARDS</a></li>
        <li><a href="www.wah.or.kr">웹 접근성 연구소</a></li>
    </ul>
</section>
<!-- //관련사이트 종료 -->