<!-- 검색영역 시작 -->
<section class="search">
	<h1 class="hidden">웹 카페 검색</h1>
	<form action="/search" method="get" id="searchForm" name="searchForm">
		<fieldset>
			<legend>검색 폼</legend>
			<label for="keyword">자료검색</label>
			<input type="search" id="keyword" name="keyword" required placeholder="검색어를 입력하세요." x-webkit-speech>
			<button type="submit">검색</button>
		</fieldset>
	</form>
</section>
<!-- //검색영역 종료 -->