<!-- 검색영역 시작 -->
<section class="search">
    <h1 class="hidden">웹 카페 검색</h1>

    <form id="searchForm" action="/search" method="get" name="searchForm">
        <fieldset>
            <legend>검색 폼</legend>
            <label for="keyword">자료검색</label>
            <input id="keyword" type="search" name="keyword" required placeholder="검색어를 입력하세요." x-webkit-speech>
            <button type="submit">검색</button>
        </fieldset>
    </form>
</section>
<!-- //검색영역 종료 -->