<!-- #slogan 시작 -->
<section id="slogan">
	<h1>Web Cafe 슬로건</h1>
	<p>
		<q cite="http://www.w3.org/WAI/">The power of the Web is in its universality, Access by everyone regardless of disability is an essential aspect.</q>
	</p>
	<footer class="hidden">
		출처 : World Wide Web Consortium -http://www.w3.org/WAI/
	</footer>
</section>
<!-- //#slogan 종료 -->