<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta charset="utf-8">
        <meta name="author" content="Teresa,BMH">
        <meta name="keywords" content="Web Cafe, Web Standards, Web Accessibility, 웹 접근성, 웹 표준">
        <meta name="description" content="HTML5 & CSS3 예제">
        <meta name="robots" content="all">
        <title>WebCafe</title>
        <link rel="shortcut icon" href="images/common/webcafe.ico">
        <link rel="stylesheet" href="/css/style.css" >
        <script src="js/jQuery.js"></script>
        <script src="js/webcafe.js"></script>
        <script>
            window.onload = init;
        </script>
    </head>
    <body>
        <!-- 건너뛰기 링크 시작 -->
        <a id="skipNav" href="#contentsArea">본문 바로가기</a>
        <!-- //건너뛰기 링크 종료 -->
        <!-- #warpper 시작 -->
        <div id="wrapper">
            <!-- #header 시작 -->
            <header id="header">

            </header>
            <!-- //#header 종료 -->
            <!-- #visual 시작 -->
            <div id="visual">

            </div>
            <!-- //#visual 종료 -->
            <!-- #contentsArea 시작 -->
            <div id="contentsArea">

            </div>
            <!-- //#contentsArea 종료 -->
            <!-- #slogan 시작 -->
            <section id="slogan">

            </section>
            <!-- //#slogan 종료 -->
            <!-- #footer 시작 -->
            <footer id="footer">
                <!-- #footerInner 시작 -->
                <div id="footerInner">

                </div>
                <!-- //#footerInner 종료 -->
            </footer>
            <!-- //#footer 종료 -->
        </div>
        <!-- //#warpper 종료 -->
    </body>
</html>
<!-- 시작 -->
<!-- //종료 -->