<!-- 웹 관련 용어 소개 시작 -->
<section class="term">
	<h1>웹 관련 용어</h1>
	<a href="#">
		<dl>
			<dt>웹 표준이란?</dt>
			<dd><img src="images/web_standards.gif" alt="W3C 로고" width="61" height="68"></dd>
			<dd>W3C 단체에서 규정한 웹 기술 사양에 대한 규칙을 말하며 표준규격...</dd>
		</dl>
	</a>
</section>
<!-- //웹 관련 용어 소개 종료 -->