<!-- 유효성 검사 시작 -->
<section class="validation">
    <h1 class="hidden">유효성 검사</h1>
    <ul>
        <li><a href="http://validator.w3.org/" title="마크업 유효성 검사 사이트로 이동" target="_blank">W3C Markup Validation</a></li>
        <li><a href="http://jigsaw.w3.org/css-validator/" title="CSS 유효성 검사 사이트로 이동" target="_blank">W3C CSS Validation Service</a></li>
    </ul>
</section>
<!-- //유효성 검사 링크 종료 -->