@charset "utf-8";

/* 로그인 */
.login {
	background-image: radial-gradient(circle at top right, #ffc848, #ff8208);
	border-radius: 5px;
	padding: 10px;
	box-shadow: 1px 1px 5px rgba(0,0,0,0.2);
}
.login form {
	background-color: #fff;
	border-radius: 3px 3px 0 0;
	padding: 10px 10px 0 10px;
}
.login fieldset {
	border-bottom: 1px solid #ccc;
	padding: 0 0 10px 0;
}
.memberLink {
	background-color: #fff;
	border-radius: 0 0 3px 3px;
	padding: 0 10px 0 10px;
}