@charset "utf-8";

/* 로그인 */
.login {
	background-image: radial-gradient(circle at top right, #ffc848, #ff8208);
	border-radius: 5px;
	padding: 10px;
	box-shadow: 1px 1px 5px rgba(0,0,0,0.2);
}
.login h1 {
	color: #feff9a;
	font-size: 14px;
	font-weight: bold;
	padding: 0 0 10px 10px;
}
.login form {
	background-color: #fff;
	border-radius: 3px 3px 0 0;
	padding: 10px 10px 0 10px;
	position: relative;
}
.login fieldset {
	border-bottom: 1px solid #ccc;
	padding: 0 0 10px 0;
}
.login label {
	display: inline-block;
	width: 48px;
}
.login input {
	width: 93px;
	height: 18px;
	padding: 1px 1px 1px 4px;
	border: 1px solid #ccc;
}
.login button {
	position: absolute;
	top: 10px;
	right: 10px;
	width: 50px;
	height: 50px;
	color: #fff;
	font-size: 11px;
	font-weight: bold;
	border: 1px solid #ff4e00;
	border-radius: 3px;
	background-color: #fb5d1f;
	background-image: linear-gradient(to bottom, #fe5f18 0%, #fa4306 100%);
}
#userId {
	margin-bottom: 6px;
}
.memberLink {
	background-color: #fff;
	border-radius: 0 0 3px 3px;
	padding: 0 10px 0 10px;
	overflow: hidden;	/* 자식요소<a>가 모두 float 라서 이 녀석도 함께 높이를 잃어버림. float들의 부모요서에 overflow 속성값을 visible 이외의 값으로 지정하면 된다. */
}
.join {
	float: left;
	padding: 10px 0;
}
.find {
	float: right;
	padding: 10px 0;
}
.memberLink a:before {
	font-family: webcafeIcon;
	content: "g";
	color: #fa3d00;
	position: relative;
	top: 2px;
	margin-right: 3px;
}
/* 유효성 검사 링크 */
.validation {
	margin-top: 20px;
}
.validation li {
	margin-bottom: 10px;
	border-radius: 20px;
	border: 1px solid #ccc;
	background-color: #ffffff;
	background-image: linear-gradient(to bottom, #ffffff 0%, #ebebeb 100%);
}
.validation a {
	display: block;
	color: #9c9c9c;
	font-weight: bold;
	text-indent: 45px;
	height: 30px;
	line-height: 30px;
	background: url(images/validation_icon.png) no-repeat 20px 5px;
	background-size: 20px 20px;
}
/* 웹 관련 용어 */
.term {
	margin-top: 20px;
	border: 1px solid #ccc;
	border-radius: 5px;
	background-color: #ffffff;
	background-image: linear-gradient(to bottom, #ffffff 0%, #f4f4f4 100%);
	padding: 15px 20px;
}
.term h1 {
	font-size: 14px;
}
.term dl {
	margin-top: 15px;
	overflow: hidden;
}
.term a dt {
	color: #296897;
}
.term dt {
	width: 130px;
	float: right;
	margin-bottom: 5px;
	font-weight: bold;
}
.term dd:nth-of-type(1) {
	float: left;
}
.term dd:nth-of-type(2) {
	width: 130px;
	float: right;
	line-height: 1.45;
	text-align: justify;
}
/* 웹 카페 검색 */
.search {
	border-radius: 15px 15px 0 0;
	background-image: linear-gradient(to bottom, #dddddd 0%, #f8f8f8 50%, #ffffff 100%);
	padding: 10px 20px 0 20px;
}
.search label {
	padding: 2px 0 4px 2px;
	font-weight: bold;
	color: #999;
}
.search label:before {
	font-family: webcafeIcon;
	content: "z";
	position: relative;
	top: 5px;
	color: #7d7d7d;
	font-size: 18px;
	font-weight: normal;
	margin-right: 5px;
}
#keyword {
	width: 196px;
	height: 18px;
	border: 1px solid #ccc;
	border-radius: 3px;
	margin: 0 5px;
}
.search button {
	padding: 3px 10px;
	color: #fff;
	font-weight: bold;
	border-radius: 3px;
	border: 1px solid #949494;
	background: linear-gradient(to bottom, #9c9da1 0%, #666666 30%, #4e4f56 100%);
}