/* 트위터 */
#twitter {
	padding-top: 15px;
	position: relative;
}
#twitter:before {
	content: "";
	width: 10px;
	height: 90%;
	position: absolute;
	top: 20px;
	left: -35px;
	border-radius: 50%;	/* 타원모양 */
	background: linear-gradient(to right, rgba(251,251,251,0.5) 0%, rgba(229,229,229,0.7) 100%);
}
#twitter h1 {
	font-size: 14px;
	padding-bottom: 10px;
	border-bottom: 1px solid #ccc;
}
#twitter h1:before {
	font-family: webcafeIcon;
	content: "t";
	color: #00acee;
	font-size: 24px;
	position: relative;
	top: 5px;
	margin-right: 5px;
}
.twitterArticle {
	margin: 20px 0;
}
.twitterUserProfile {
	width: 45px;
	height: 45px;
	margin-right: 10px;
}
.twitterContent {
	margin: 10px 0;
	line-height: 1.4;
}
.twitterContent mark {
	background-color: transparent;
	font-weight: bold;
}
.twitterDate {
	display: block;
	text-align: right;
	color: #787878;
}
/* 서브 페이지 공통 */
#contents {
	position: relative;
}
.location {
	position: absolute;
	top: 18px;
	right: 30px;
}
.location strong {
	color: #51a41e;
}
#contents > h1 {
	font-size: 18px;
	font-family: nanumEX;
	color: #ff3c00;
	text-shadow: 1px 1px 0px rgba(0,0,0,0.2);
	border-bottom: 2px solid #ff6738;
	padding-top: 15px;
	padding-bottom: 15px;
	margin-bottom: 20px;
}