<!-- #slogan 시작 -->
<section id="slogan">
	<h1 title="웹카페에서 웹표준을">Web Cafe 슬로건</h1>
	<p>
		<q cite="http://www.w3.org/WAI/">The power of the Web is in its universality, Access by everyone regardless of disability is an essential aspect.</q>
		Tim Berners - Lee , W3C Director and inventor of the World Wide Web
	</p>
	<!-- 슬로건 푸터 시작 -->
	<footer class="hidden">출처 : World Wide Web Consortium - http://www.w3.org/WAI/</footer>
	<!-- //슬로건 푸터 종료 -->
</section>
<!-- //#slogan 종료 -->